* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif ;
}

a {
  text-decoration: none;
}
body, input, textarea, button {
  font-family: "Public Sans", sans-serif;
}