@use '../../../assets/styles/' as *;

.company-form {
  padding: 0px 20px;
  // height: 100%;
  .company-form__container {
    .company-form__logo {
      padding: 30px 30px 10px 30px;
      margin: 20px 20px 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .company-form__avatar {
        border: 2px solid rgb(145, 158, 171);
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
      .company-form__control {
        width: 100%;
        ul {
          li {
            margin: 10px;
            list-style: none;
            .link {
              font-family: $f-family;
              font-size: $fs-13;
              color: #000;
              text-decoration: none;
              font-weight: 600;
            }
          }
        }
        .company-form__block {
          font-family: $f-family;
          font-size: $fs-13;
          margin-left: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          font-weight: 600;
        }

        .company-form__button-edit {
          margin-top: 10px;
          margin-left: 30px;
          padding: 10px 20px;
          background-color: $primary-color;
          color: $color-white-0;
          border: none;
          border-radius: 5px;
        }
      }
      // input {
      //     // visibility: hidden;
      //     display: none;
      // }
    }

    .company-form__input {
      padding: 0px 20px;

      .company-form__checkbox {
        .company-form__checkbox-label {
          font-family: $f-family;
          font-size: $fs-13;
          font-weight: $fw-bold-0;
          margin-left: 5px;
          color: rgb(145, 158, 171);
          margin-bottom: 20px;
        }
        input {
          margin-right: 5px;
        }

        label {
          margin-right: 30px;
        }
      }

      .company-form__selector {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;

        .company-form__selector-item {
          display: flex;
          flex-direction: column;
          width: 45%;
          color: $primary-color;
          font-size: 13px;

          label {
            font-family: 'Public Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #29303b;
            margin-top: 7px;
          }

          select {
            box-sizing: border-box;
            margin-top: 7px;
            font-family: 'Public Sans', sans-serif;
            border: 1px solid $primary-color;
            border-radius: 5px;
            width: 100%;
            padding: 21px 12px;

            &:hover {
              border: 1px solid $primary-color;
              box-shadow: $primary-color-1 0px 3px 8px;
            }

            &:focus {
              outline: $primary-color;
              border: 1px solid #29303b;
              box-shadow: $primary-color-1 0px 3px 8px;
            }
          }
        }
      }
    }
  }

  .company-form__submit {
    margin-top: 20px;
    padding: 10px;
    // float: right
    display: flex;
    justify-content: flex-end;
  }
}

.company-form__error {
  margin-top: 20px;
  color: $color-red;
  font-size: $fs-13;
}
