@use "../../assets/styles/index.scss" as *;

.MuiPaginationItem-root.Mui-selected {
    border: 1px solid $primary-color !important;
    background: #FFFFFF !important;
    font-weight: 500 !important;
}