@use "../../assets/styles/" as *;

.tagName__container {
  width: 64px;
  height: 22px;
  border-radius: 2px;
  background-color: $color-gray-9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;

  p {
    font-size: 10px;
    color: $color-gray-8;
    font-weight: 500;
  }
}
