@use "../../assets/styles/" as *;
.container-header__hr {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 35px;
  z-index: 99;
  box-shadow: 0 2px 2px -2px gray;
}

.header__hr {
  // margin-top: 28px;
  background-color: $primary-color-1;
  display: flex;

  &-post {
    display: flex;
    align-items: center;
    margin-right: 22px;
    color: black;
    &-post {
      display: flex;
      margin-left: 10px;
      font-size: $fs-16;
      align-items: center;
    }
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    &-config {
      margin-right: 14px;
    }
  }
  .header__hr-post {
    &:hover {
      opacity: 0.7;
      transition: opacity 0.4s;
    }

    .header__hr-post-post {
      font-weight: 400;
    }
  }
}

.css-i4bv87-MuiSvgIcon-root {
  color: $primary-color;
  position: relative;
}
.css-bxzqik-MuiSvgIcon-root {
  position: absolute;
  transform: translate(-17px, -5px);
}
