@use "../../assets/styles/" as *;
.container-header__hr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.header__hr {
  // margin-top: 28px;
  background-color: $primary-color-1;

  &-post {
    display: flex;
    align-items: center;
    margin-right: 22px;
    color: black;
    &-post {
      display: flex;
      margin-left: 10px;
      font-size: $fs-16;
      align-items: center;
    }
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    &-config {
      margin-right: 14px;
    }
  }
}

.css-i4bv87-MuiSvgIcon-root {
  color: $primary-color;
  position: relative;
}
.css-bxzqik-MuiSvgIcon-root {
  position: absolute;
  transform: translate(-17px, -5px);
}
