@use '../../../../assets/styles/' as *;

.candidate-list__wrapper {
  

  .dialog-title {
    font-size: 20px;
  }
}

.dialog-title__list-candidate {
  font-size: 25px !important;
  font-weight: 600 !important;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}