@use '../../../assets/styles/index.scss' as *;

.register__container {
  width: 100%;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  padding: 10px 40px;
  &__form {
    width: 100%;
    &--name {
      width: 100%;
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }

    > .select-form {
      margin-bottom: 20px;
    }
    &--action {
      margin-bottom: 20px;
    }
  }

  &__btns {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 360px;
    }
  }

  .reg-candidate__title-infor {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    button {
      width: 300px;
    }
    &__google {
      gap: 6px;
      font-size: $fs-13;
      background-color: #ea4335 !important;
    }
    &__facebook {
      gap: 6px;
      font-size: $fs-13;
      background-color: #375899 !important;
    }
  }
  .register-container__footer {
    margin: 20px auto 20px !important;
  }
}
.custom_req_can {
  margin-top: -8px;
}
