@use "../../../assets/styles/" as *;

.company-detail {
    // height: 100% !important;
    .company-detail__title-container{
        padding: 20px;
        margin-bottom: 30px;
    }
    
    .company-detail__content-container{
        padding: 20px 0px;
        
        .company-detail__control{
            li {
                list-style: none;
                color: #000;
                
            }
        }
    }
    
    
}