@use "../../assets/styles/" as *;

.demand__partner {
  margin-top: 12px;
  &-infor {
    @include flex(center, null);
    margin-left: 18px;

    &-time {
      height: 20px;
      font-size: $fs-14;
    }

    &-name-job {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      margin-top: 3px;
      margin-bottom: 5px;
    }
  }
}

.demand__partner-info-item-icon {
  color: $primary-color;
  transform: translateY(-5px);
  margin-right: 12px;
}

#demand__partner-infor-name {
  display: block;
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.3;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content-demand-partner {
  display: block;
  display: -webkit-box;
  font-size: $fs-12;
  line-height: 1.3;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link__demand-detail {
  color: black;
}
