@use '../../assets/styles/' as *;

.login-container {
  @include formContainer(480px);
  &__google {
    margin: 70px auto 40px;
  }

  &__or {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    &--line {
      flex: 1;
      // width: 100px;
      height: 1px;
      background-color: $color-gray-7;
    }
    h6 {
      padding: 6px;
      color: $color-gray-7;
      font-size: $fs-14;
      font-weight: $fw-normal;
    }
  }
  &__title {
    font-size: $fs-16;
    font-weight: $fw-bold-2;
    text-transform: uppercase;
    font-family: $f-family;
    margin: 40px 0;
  }
  &__footer {
    margin: 40px auto 20px;
    p {
      font-size: $fs-13;
      color: $color-black-0;
      margin-top: 12px;
    }
    a {
      font-size: $fs-13;
      color: $primary-color;
      text-decoration: underline;
    }
  }
}
