@use "../../assets/styles/" as *;

.button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  //margin-left: 20px;
  border: 1px solid $primary-color !important;
  border-radius: 4px;
  font-family: $f-family;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  & p {
    margin: 8px 0px;
  }
  @include button(
    13px,
    700,
    6px,
    32px,
    $primary-color,
    $primary-color,
    $color-white-0,
    $color-white-0
  );
  .button__icon {
    margin-right: 10px;
  }

  i {
    margin-left: 10px;
  }

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 740px) {
  .button {
  }
}
