@use "../../assets/styles/" as *;

.job__candidate {
  margin-top: 12px;
  margin-left: 20px;
  @include flex(flex-start, null);
  &-infor {
    @include flex(center, flex-start);
    margin-left: 18px;
    margin-left: 18px;
    width: max-content;

    &-time {
      height: 20px;
      font-size: $fs-14;
    }

    &-name-job {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      margin-top: 3px;
      margin-bottom: 5px;
    }
  }
}

.job__candidate-info-item-icon {
  color: $primary-color;
  transform: translateY(-5px);
  margin-right: 12px;
}

#job__candidate-infor-name {
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.3;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 25px;
  width: fit-content;
  margin-left: auto;
  margin-left: 25px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card-content-job-candidate {
  display: block;
  display: -webkit-box;
  font-size: $fs-12;
  line-height: 1.3;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: initial;

  &-location {
    width: 200px;
  }
}

.link__job-detail {
  color: black;
}
