@use "../../assets/styles/" as *;

.description-form {
  &__container {
    border: 1px solid gainsboro;
    margin: 25px 0px;
  }

  &__content,
  &__header {
    padding: 15px;
  }
}

.description-form__header {
  width: 100%;
  background-color: gainsboro;
}

.description-text {
  font-size: 14px;
  line-height: 1.5rem;
}

.description-confirm-sample-btn {
  border: 1px solid #04bf8a;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 25px;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  font-style: italic;
  color: #04bf8a;
  float: right;
  cursor: pointer;
}
