// mobile
@media only screen and(max-width : 46.1875em ) {
  .hr-post__wrapper {
    .hr-post-list__content {
      padding: 0 24px;
      flex-direction: column;
      .hr-post-list__statistic {
        flex-basis: 100%;
        margin: 0;
      }
      .filter-panel-home__wrapper {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and(max-width : 46em){
  .pagination__wrapper {
    display: flex;
    justify-content: center !important;
    padding-bottom: 16px;

    > .pagination {
      padding-right: 0 !important;
    }
  }
}

@media screen and(max-width :25.8125em) {
  .card-post__time {
    padding-bottom: 20px;
  }
}
