@use "../../../../assets/styles/" as *;

.hr-post__wrapper {
  min-height: 100vh;
  .hr-post__list-bt {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-bottom: 24px;
  }

  .hr-post-list__content {
    display: flex;
    padding: 0 50px;

    .hr-post-list__statistic {
      flex-basis: 40%;
      margin-right: 24px;
    }

    .filter-panel-home__wrapper {
      flex-basis: 60%;
      padding-left: 0;

      .tabPanel {
        height: 78vh;
        border-radius: 0px;
      }
    }

    .hrpost__list {
      display: flex;
      min-height: 500px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    max-width: none !important;
  }

  .filter-panel-home__wrapper .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    flex-basis: 50%;
  }

  .filter-panel-home__wrapper
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    flex-basis: 50%;

    &#simple-tab-1 {
      background-color: #666;
    }
  }
}
