@use "../../assets/styles/" as *;

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid $color-black-0;
}

.user-card {
  &__container {
    background-color: $color-white-0;
    width: 100%;
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 0.5px solid #dedede;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-left: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &__heading-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  &__btns-update-profile {
    padding-bottom: 20px;
  }
}
