@use "../../assets/styles/" as *;

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid $color-black-0;
}

.user-card {
    &__container {
        background-color: $color-white-0;
        width: 100%;
        position: relative;
        min-height: 55vh;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10px;
        margin-left: 20px;
    }

    &__heading-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}