@use '../../../../assets/styles/' as *;

.table-container {
    margin-top: 1rem;
    background-color: $color-white-0;
    border-radius: 10px;
    padding: 1rem;
    h3 {
        margin-bottom: 1rem;
    }
}