@use '../../../../assets//styles/' as *;

.statistical {
  width: 184px;
  height: 96px;
  background-color: #f1f1f1;
  padding: 20px 20px;
}

.statistic_multiple {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__left {
    display: flex;
    gap: 20px;
  }
  margin-bottom: 20px;
}

.statistic_hr_table {
  border-collapse: collapse;
  width: 100%;
}

.statistic_total {
  padding: 20px 40px;
  background-color: white;
  &-h2 {
    margin-bottom: 40px;
  }
}

.action {
  display: flex;
  flex-direction: column;
  gap: 7px;
  &__icon {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      color: $color-default;
    }
  }
}

.MuiDataGrid-columnHeaders {
  background-color: #ecf8ee;
}
.css-imf0nl-MuiDataGrid-root
  .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)
  > .MuiDataGrid-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.css-imf0nl-MuiDataGrid-root .MuiDataGrid-columnHeader {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tableHr {
  &__post {
    h2 {
      color: $color-default;
    }
  }
  &__quantity {
    display: flex;
    gap: 10px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-applyNumber {
      background-color: #fcb25f;
      width: 60px;
      height: 30px;
    }
    &-viewNumber {
      background-color: #54adff;
      width: 60px;
      height: 30px;
    }
  }
}
