@use "../../assets/styles/" as *;

.password {
  display: flex;
  width: 50% !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: $color-gray-1;
  border-radius: 5px;
}
