@use "../../assets/styles/" as *;

.password {
  display: flex;
  width: 50% !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: $primary-color-background-2;
  border-radius: 5px;
  margin-bottom: 15px;
  &-form {
    @include flex(null, space-between);

    img {
      width: 280px;
      height: 309px;
      margin-top: 53px;
      margin-right: 20px;
      border-radius: 5px;
    }
  }
}
.button__change-password {
  @include flex(null, space-between);
}
