.div-button-i18next {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__hr-icon {
  border-left: 1px solid gray;
  padding-left: 10px;
}

.container__logo__with__layout {
  display: flex;
  gap: 25px;
}
