// variable color
$primary-color: #00B074;
$primary-color-1: #eaffec;
// $primary-color-2: #56c596;
// $primary-color-3: #329d9c;
// $primary-color: #3949ab;
// $primary-color-1: #e8eaf6;
$color-black-0: #29303b; // default
$color-white-0: #fff; //default
$color-red: #FF5C58;
$color-red-0:#ec5252;
$color-red-1: #521822;
$color-red-2:#992337;
$color-purple: #6e1a52;
$color-gray: #F5F5F5;
$color-gray-1: rgba(20,23,28,.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5:#F7F8FA;
$color-gray-6:#dedfe0;
$color-black-light:#505763;
$color-white-cream:#f2f3f5;
$color-black-dark: rgba(20,23,28,.1);
$color-yellow: #ffbb33; 
$color-yellow-1: #F4C150;
$color-blue:#007791;
$color-trans:transparent;

// variable font-size
$fs-16: 16px; //default
$fs-13: 13px;
$fs-20: 20px;
$fs-24: 24px;
$fs-40: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default

$f-family: 'Open Sans', sans-serif;
$f-family-0: 'Poppins', sans-serif;
$f-family-1: 'Inter', sans-serif;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold-2: 900;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)