@use "../../assets/styles/" as *;

.confirmation__wrapper {
  padding-top: 10px;
  font-weight: 500;
  > p {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }

  .confirmation__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .confirmation__img {
    width: 100%;
    height: 70px;
    object-fit: contain;
  }

  .confirmation__btns {
    display: flex;
    justify-content: center;
    .button {
      padding: 14px 8px;

      p {
        margin: 0;
      }
    }
    .confirmation__btn-cancel {
      padding: 10px;
    }
  }
}
