@use '../../assets/styles/' as *;

.candidate-profile {
  &__container {
    width: 100%;
  }

  &__card-container {
    width: 100%;
    min-height: 80vh;
    background-color: $color-white-0;
  }

  &__card-info {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }

  &__card-detail-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0px 10px 0px;
  }

  &__card-email,
  &__card-phone,
  &__card-gender,
  &__card-major {
    display: flex;
    gap: 5px;
  }

  &__card-footer {
    width: 80%;
    display: flex;
    margin: 60px 20px 0px 10px;
    justify-content: space-between;
  }

  &__card-update-profile,
  &__card-view-profile,
  &__card-download-profile {
    display: flex;
    gap: 5px;
  }
}

.candidate-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: $primary-color;
}

.candidate-info-text {
  display: flex;
}

#candidate-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.candidate-profile-footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 12px 20px;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background-color: $color-white-0;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $color-white-0;

    & svg {
      color: $color-white-0;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 740px) {
  .candidate-profile {
    &__card-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__card-footer {
      width: 100%;
      display: flex;
      min-height: 30vh;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
