@use "../../assets/styles/" as *;

.logo {
  font-family: $f-family-0;
  width: fit-content;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: $color-black-0;
  h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    color: #111111;
  }
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 740px) {
  .logo {
    font-family: $f-family-0;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: $color-black-0;
    h1 {
      font-size: 20px;
      font-weight: 900;
      line-height: 1;
    }
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .roleName__header {
    img {
      width: 200px !important;
    }
  }
}

.roleName__header {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    width: 150px;
    height: 60px;
    margin-left: 8px;
    object-fit: scale-down;
  }
}
