@use "../../assets/styles/" as *;

.select {
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;


    &-title {
        font-size: $fs-14;
        margin-bottom: 10px;
        font-family: $f-family;
    }
    .MuiSelect-select {
        border: 1.5px solid $primary-color;
        display: flex;
        justify-content: flex-start;
    }
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root .Mui-selected {
        color: blue;
    }
}