@use '../../assets/styles/' as *;

.card-post__container {
  width: 50%;
  background: #ffff;
  padding: 24px 32px;
  border: 0.5px solid #dedede;
  margin-bottom: 20px;

  .card-post__job-name {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .card-post__company-info-detail {
    display: flex;
    font-size: 13px;

    .company-info-detail__img {
      width: 40px;
      height: 40px;
      margin-right: 16px;
      object-fit: contain;
    }

    .company__name {
      font-weight: 700;
    }

    .company__location {
    }
  }

  .card-post__amount {
    font-size: 13px;
    font-weight: 700;
    margin: 16px 0;
  }

  .card-post__time {
    margin-bottom: 30px;
    font-size: 13px;
  }

  .card-post__created {
    margin-bottom: 30px;
    font-size: 13px;
    text-align: right;
  }

  .card-post__action {
    display: flex;

    .css-i4bv87-MuiSvgIcon-root {
      color: #000000;
    }
  }
}
