@use "../../../../assets/styles/index.scss" as *;

.confirmation__wrapper.verify {
    width: 400px;
    >img {
        width: 100%;
        height: 120px;
    }

    .confirmation__title {
        text-align: center;
        font-size: 18px;
    }
    
    .confirmation__btns {
        justify-content: center;
    }
}