@use "../../assets/styles/" as *;

.base__information {
  padding: 3px;
  .company-name {
    text-align: center;
    width: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
  }
  .base__information-card {
    background-color: $primary-color;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    .img-logo {
      width: 115px;
      height: 115px;
      border-radius: 4px;
      margin-left: 35px;
      margin-right: 23px;
      transform: translateY(-8px);
    }

    &-detail {
      width: fit-content;
      height: fit-content;
      margin: 11px;
      div {
        @include flex(center, null);
        font-size: 18px;
      }
      p {
        padding-left: 5px;
      }
      a {
        padding-left: 5px;
      }
    }
  }
}

.intro__company {
  &-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
  }

  &-detail {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
}

.button-card {
  @include flex(center, space-around);
  margin-top: 26px;
}

.base__information-card-detail-location {
  h5 {
    white-space: nowrap;
  }
  align-items: baseline !important;
}

.appreciate {
  margin: 30px 0px 10px 0px;
  @include flex(center, space-between);
}

.company-job-detail__card {
  display: grid;
  margin-left: 50px;
  margin-top: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-content: flex-start;
}

.job-applying-container {
  width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 705px) {
  .company-job-detail__card {
    justify-content: center;
    align-items: center;
  }
}

.detail-website {
  display: block !important;
}

.fix-fontSize {
  font-size: 17px !important;
}
