@use "../../../../assets/styles/Helper/variables" as *;

.information-company__container {
  width: 100%;
  // border: 1px solid $primary-color-2;
  padding: 0 30px;
  // border-radius: 8px;
  margin-bottom: 10px;
}
.intro__company-title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
}

