@use "../../../../assets/styles/Helper/variables" as *;

.information-company__container {
  width: 100%;
  border: 1px solid $primary-color-2;
  padding: 30px;
  // border-radius: 8px;
  margin-bottom: 10px;
}
