@use '../../assets/styles' as *;

.avatar_img {
  height: 100%;
  border-radius: 50%;

  &:hover {
    border: 4px solid $primary-color;
    transition: border 0.3s;
  }
}

.title-signed {
  padding: 6px 16px;
  font-size: 16px;
  font-weight: normal;

  > span {
    font-weight: 700;
  }
}

.profile-icon {
  color: $primary-color !important;
  font-size: 32px !important;
  margin-right: 8px;
  margin-left: -4px;
}
