@media only screen and (min-width: 500px) and (max-width: 740px) {
  .hr-post {
    &__form {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1260px) {
  .hr-post {
    &__form {
      width: 100%;
    }
  }

  #max-salary {
    margin-left: 35px;
  }
}

@media screen and (max-width: 739px) {
  .hr-post__container {
    .form__container {
      margin: 0 auto;
      width: 90%;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 640px){
  .hr-post__form .row-3-col {
    align-items: inherit;
  }
}

@media screen and (max-width: 500px) {
  .form__container,
  .hr-post__form {
    width: 100% !important;

    .row-2-col,
    .row-3-col,
    .hr-post__salary-range {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
    }

    .custom-input {
      width: 100%;
    }
  }
}
