@use '../../assets/styles/' as *;

.dialog {
  h2 {
    font-family: $f-family;
    font-size: $fs-40;
    font-weight: 600;
    border: 1px solid $color-gray-2;
  }

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: none !important;
  }
}
