@use "../../assets/styles/" as *;

.dialog {
  background: none !important;
  h2 {
    font-family: $f-family;
    // font-size: $fs-40;
    font-weight: 600;
    // border-bottom: 1px solid $color-gray-2;
  }

  .form__container {
    width: 100%;
  }

  .hr-post__container {
    margin-bottom: 0 !important;
  }

  .dialog-title {
    position: relative;
    .dialog__icon {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
    }
  }
}

.dialog-title__profile {
  font-size: $fs-30 !important;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.1) !important;
}