@use '../../assets/styles/' as *;


.container-header__partner {
  width: 100%;
  position: fixed;
  display: flex;
  overflow: hidden;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  z-index: 99;
  box-shadow: 0 2px 2px -2px gray;
}
.header__partner {
  // margin-top: 28px;
  background-color: $primary-color-1;
  display: flex;

  &-post {
    display: flex;
    align-items: center;
    margin-right: 22px;
    color: black;
    &-post {
      display: flex;
      margin-left: 10px;
      font-size: $fs-16;
      align-items: center;
    }
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    &-config {
      margin-right: 14px;
    }
  }
  .header__partner-post {
    &:hover {
      opacity: 0.7;
      transition: opacity 0.4s;
    }

    .header__partner-post-post {
      font-weight: 400;
    }
  }
}

