@use "../../assets/styles/" as *;
.forgotpassword__wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 182px 0 100px;
  .forgotpassword__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%), 0 5px 5px rgb(0 0 0 / 24%);
    p {
      display: block;
      padding: 0 16px;
    }
    h2 {
      margin-bottom: 12px;
    }
    form {
      padding: 0px 16px;
      width: 100%;
    }
    &-btn {
      display: block;
      background-color: #04bf8a;
      color: white;
      cursor: pointer;
      padding: 12px 32px;
      border: none;
      border-radius: 5px;
      margin: 0 auto 12px;
      font-size: 17px;
      &:hover {
        opacity: 0.85;
      }
    }
    &-link {
      text-decoration: none;
      color: $primary-color;
      padding: 8px 20px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
// mobile
@media only screen and (max-width: 46.1875em) {
  .forgotpassword__wrapper {
    padding: 196px 0 100px;
    margin: 0 32px;
    .forgotpassword__modal {
      p {
        padding: 0 16px;
      }
      &-btn {
        cursor: none;
        padding: 14px 32px;
        border: none;
        width: 100%;
        font-size: 17px;
        &:hover {
          opacity: 0.85;
        }
      }
      &-link {
        text-decoration: none;
        color: $primary-color;
        padding: 13px 28px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
