@use "../../../assets/styles/" as *;

.change-password {
  &__wrapper {

    height: 100vh;
  }
  &__container {
    width: 500px;
    background-color: #ffffff;
    padding: 12px 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto 40px;
    border-radius: 4px;
  }

  &__title {
    text-align: center;
  }

  &__actions {
    height: 45px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
}
