@use "../../assets/styles/index.scss" as *;

.statistic__wrapper {
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 18px 24px;
  margin-bottom: 24px;

  .statistic__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .statistic__content {
    display: flex;
    justify-content: space-between;

    .statistic__content-item {
      box-sizing: border-box;
      flex-basis: 48%;
      background-color: #e7e3e3;
      padding: 12px 16px;
      border-radius: 4px;

      > h2 {
        margin-bottom: 8px;
        color: $primary-color;
      }
    }
  }
}
