@use "../../assets/styles" as *;

.slideBarHome__wrapper {
  height: 690px;
  overflow-y: scroll;
  border-radius: 6px;

  .slideBarHome__container {
    width: 100%;
    background-color: $color-white-0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 20px;
    border: 0.5px solid #dedede;
  }
}

.slideBarHome__wrapper::-webkit-scrollbar {
  display: none;
}
@media (max-width: 740px) {
  .css-1eyyxxn-MuiList-root-middle {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
}
