@use "../../assets/styles" as *;


.slideBarHome__wrapper {
    height: 90vh;
    overflow-y: scroll;
    // margin-bottom: 5vh;

    .slideBarHome__title {
        color: $primary-color;
        font-size: 16px;
    }

    .slideBarHome__container {
        width: 100%;
        background-color: $color-white-0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 18px;
        margin-bottom: 20px;
        border: 0.5px solid #DEDEDE;

    }
}

.slideBarHome__wrapper::-webkit-scrollbar {
    display: none;
}