@use "../../../../assets/styles/Helper/variables" as *;

.view-list {
  min-width: 640px;
  width: 100%;
  max-height: 180vh;
  padding: 0px 30px;
  background-color: $primary-color-background;
  // display: flex;
  border-radius: 5px;

  &__container {
    display: flex;
    // margin: 10px 10px 10px 30px;
  }

  &-page {
    margin-left: 18px;
  }

  &__job-card {
    max-height: 747px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    transform: translateY(-0px);
    margin-top: 2px;
  }

  &__job-user-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // margin-top: auto;
  }

  .grid_container {
    display: flex;
    gap: 1rem;
    .view-list__job-user-card {
      padding: 0 0 10px 0;
    }

    .candidate_job {
      flex: 7;

      .view-list-page {
        margin-top: 1rem;
      }
    }

    .candidate_info {
      flex: 5;
    }
  }
  .tabPanel {
    height: 610px;
  }
}

.view-list__job-card::-webkit-scrollbar {
  display: none;
}

// @media only screen and (max-width: 500px) {
//   .view-list {
//     width: 100%;

//     &__container {
//       display: flex;
//       margin: 0;
//       flex-direction: column;
//       justify-content: center;
//       align-items: flex-start;
//     }

//     &__job-card {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//     }
//   }

//   .user-card__container {
//     min-height: fit-content;
//   }
// }

@media (min-width: 1110px) and (max-width: 1200px) {
  .onTablet {
    padding-left: 0px;
  }

  .candidate_job {
    flex: 8;
  }

  .candidate_info {
    flex: 4;
  }

}

@media only screen and (min-width: 340px) and (max-width: 1110px) {
  .view-list {
    max-height: 180vh;

    .grid_container {
      flex-direction: column-reverse;

      .candidate_job {
        .view-list__job-card {
          margin-left: 0;

          .card-job__container {
            justify-content: space-between;
          }
        }
      }

      .candidate_info {
        .feedback-details {
          justify-items: flex-start;
        }

        .header__with-search {
          padding-left: 0 !important;
        }
        .user-card__container {
          padding: 10px 0;
        }
        .feedback__container {
          padding: 10px 0;
        }
      }
    }
  }
}

