@use "../../assets/styles/" as *;

.header__with-search-search {
  display: flex;
  flex-direction: row;
  // gap: 12px;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 0.5px solid #dedede;
  border-radius: 6px;
  height: 66px;
  margin-bottom: 24px;

  .header__with-search-search-wrap {
    .search__icon {
      font-size: $fs-13;
      color: $primary-color;
    }

    .header__with-search-search-1 {
      font-family: inherit;
      font-size: $fs-16;
      color: black;
      height: 37px;
      border: none;
      border-radius: 2px;
      outline: none;
      width: 100px;
    }
  }

  .header__with-search-search-select {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;

    .select__icon-location {
      color: $primary-color;
    }

    .select__icon-arrow-drop {
      color: $primary-color;
      transform: translateX(45px);
    }
  }

  .header__with-search-button-search {
    transform: translateX(-10px);
  }
}
//tablet
@media (min-width: 740px) and (max-width: 1024px) {
  .onTable {
    padding-left: 30px;
  }
  .header__with-search-search-1 {
  }
}
//mobile
@media (max-width: 740px) {
  .onMobile {
    padding-left: 0px;
  }
  .header__with-search-search-1 {
    width: 100px !important;
  }
  .header__with-search-search-select-onMobile {
    display: none !important;
  }
}
