@use "../../assets/styles/" as *;

.header__with-search {
}

.header__with-search-search {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 0.5px solid #dedede;
  border-radius: 6px;
  height: 66px;
  margin-bottom: 24px;

  .header__with-search-search-wrap {
    .search__icon {
      font-size: $fs-13;
      color: $primary-color;
    }

    .header__with-search-search-1 {
      font-family: inherit;
      font-size: $fs-16;
      color: black;
      height: 37px;
      border: none;
      border-radius: 2px;
      outline: none;
    }
  }

  .header__with-search-search-select {
    .select__icon-location {
      color: $primary-color;
    }

    .select__icon-arrow-drop {
      color: $primary-color;
      transform: translateX(45px);
    }
  }

  .header__with-search-button-search {
    transform: translateX(-10px);
  }
}
