@use "../../assets/styles/" as *;

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  .logo__home {
    text-align: none;
    color: black;
  }
  .login__home {
    display: flex;
    align-items: center;
    // padding: 12px 32px;
    text-align: none;
    .login {
      font-family: $f-family-0;
      width: fit-content;
      display: flex;
      align-items: flex-end;
      text-decoration: none;
      color: $color-black-0;
      margin-right: 18px;

      h5 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 740px) {
  .login__home {
    margin-top: 10px;
    display: block !important;
    .login {
      margin: 8px 0;
    }
  }
}
.config {
  padding: 0px 20px;
}
