@use "../../assets/styles/Helper/variables" as *;

.login-layout {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-color: $primary-color;
  // padding: 36px;
  text-align: center;
}
