@use '../../assets/styles/' as *;

.feedback {
  &__container {
    background-color: $color-white-0;
    width: 100%;
    min-height: 30vh;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      color: $primary-color;
    }

    &-content {
      & p {
        color: $color-gray-3;
      }
    }
  }

  &-details {
    display: grid;
    margin: 20px;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  &-chart {
    .chart-feedback {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $primary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-white-0;

      & h3 {
        font-weight: 600;
      }
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}
