@use "../../assets/styles/" as *;

.detail__card {
  background-color: $color-white-0;
  border-radius: 6px;
  border: 2px solid $primary-color;
  padding: $pd-2;
  overflow-y: scroll;
  height: 600px;
  margin-bottom: 15px;

  &-4-item {
    max-width: 33%;
  }

  .detail__card-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    // padding: 0 20px;
    // padding-right: 39px;
    .detail__card-intro {
      display: flex;
      align-items: center;

      div {
        h2 {
          font-size: 21px;
        }
        .name-company {
          font-size: 13px;
        }
      }
      .detail__card__logo {
        margin-right: 15px;
        width: 72px;
        height: 60px;
        left: 30px;
        top: 30px;
      }
    }
  }

  .detail__card-2 {
    display: flex;
    align-items: center;
    margin: 14px 0px;
    .tag-name {
      display: flex;
      &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .detail__card-3 {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 21px;

    &-item {
      font-size: 16px;

      &-name {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        padding-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .line::after {
    background-color: $color-gray-3;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  .detail__card-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-icon {
        color: $primary-color;
      }
      &-info {
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  .detail__card-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      p {
        font-size: 13px;
        margin-bottom: 8px;
      }
    }
  }
}

.detail__card::-webkit-scrollbar {
  display: none;
}

.MuiTabs-scroller {

  & button.Mui-selected {
    color: $primary-color !important;
  }
  & span.MuiTabs-indicator {
    background-color: $primary-color !important;
  }
}

@media (min-width: 360px) and (max-width: 1200px) {
  .containerDetailCard-home {
    // display: none;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .detail__card-ontablet {
    background-color: #fff;
    border-radius: 6px;
    border: none;
    padding: 20px;
    overflow-y: hidden;
    height: fit-content;
    margin-bottom: 6px;
  }
}

@media (max-width: 740px) {
  .detail__card-ontablet {
    background-color: #fff;
    border-radius: 6px;
    border: none;
    padding: 20px;
    overflow-y: hidden;
    height: fit-content;
    margin-bottom: 15px;
  }
  .button__candidate-onMobile {
    display: none !important;
  }
  .detail__card .detail__card-4 {
    display: block !important;
    &-item {
      justify-content: start !important;
    }
  }
}
