@use '../../assets/styles' as *;

.sidebar {
  padding-top: 40px;
  width: $sb-width;
  .sidebar-logo {
    padding: 20px 20px;
    h2 {
      font-size: 37px;
      font-family: $f-family;
      font-weight: $fw-bold;
    }
  }
  ul {
    // margin-top: 40px;
    padding: 0px 15px;

    .sidebar__link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      .sidebar__icon {
        margin-right: 20px;
      }
    }

    h5 {
      padding: 0 10px;
      color: #212121;
      font-size: 15.5px;
      font-weight: 500;
      line-height: 23.24px;
      font-family: $f-family-1;
    }
  }
}
