@use "../../assets/styles" as *;

.sidebar {
    .sidebar-logo{
        padding: 20px 60px;
            h2 {
                font-size: 30px;
                font-family: $f-family;
                font-weight: $fw-bold;
            }
    }
    ul{
        // margin-top: 40px;
        padding: 0 40px;

        .sidebar__link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            .sidebar__icon {
                margin-right: 20px;
            }
        }
    }
}
