@use "../../assets/styles/" as *;

#page-footer-wrapper {
  width: 100%;
  margin-top: 30px;
  padding: 50px;
  background-color: #aaf6dd;
}

#first-section {
  display: flex;
  justify-content: space-around;
}

.elementor-row-two-element {
  display: flex;
}

.address__container-footer {
  display: flex;
  margin-top: 50px;

  & .heading {
    font-size: 18px;
    font-weight: 700;
  }
}

.address-footer-headquarters,
.address-footer-office,
.address-footer-hotline,
.address-footer-email,
.address-footer-worktime {
  display: flex;
  align-items: flex-start;

  & .text-footer {
    text-align: left;
  }
}

.list-header {
  & .text-wrap {
    & .text {
      color: #000;

      &:hover {
        color: rgb(87, 106, 126);
      }
    }
  }
}

.maxcoach-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-app-link {

  &-container {
    margin-top: -5px;
  }
  &-download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;

  }

  &-header {
    margin: 5px 10px;

  }

  &-container {
    background-color: $primary-color;
    border-radius: 20px;
  }
}
