@use "../../assets/styles/" as *;

.elementor-section {
  width: 100%;
  left: 0;
  background-color: $primary-color;
}

.footer-container {
  max-width: 1140px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.maxcoach-list {

  & .list-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  & .link {
    display: inline-block;
    padding: 0;
    -webkit-transition: none;
    transition: none;
  }

  & .text {
    font-size: $fs-14;
    font-weight: $fw-normal;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    &:hover{
      color: black;
    }
  }
}



#first-section {
  display: flex;
  margin-top: 20px;

  & .contact__container,
  .policy__container,
  .category__container {
    width: 33.333%;
  }
}

.footer__second-section {
  margin-top: 10px;
  margin-bottom: 0;
}

.list-header {
  display: flex;
  align-items: center;
}

.item,
.social__media {
  margin-top: 15px;
}

.social__media {
  padding: 0;
}

.elementor-column-populated .heading {
  margin: 0px 0px 17px 0px;
}

.heading-primary-wrap {
  line-height: 1;

  & .heading-primary {
    font-size: $fs-18;
    color: #ffffff;
  }
}

.elementor-section {
  margin-top: 10px;
  margin-bottom: 0px;

  & .elementor-container {
    max-width: 1140px;

    & > .elementor-row {
      align-items: stretch;

      & .elementor-column,
      .elementor-column-wrap {
        position: relative;
        display: flex;
      }

      & .elementor-column {
        min-height: 1px;
      }
    }
  }
}

.tm-modern-heading {
  width: 1140px;

  & .heading-secondary-wrap,
  .heading-primary-wrap {
    margin-bottom: 10px;
    line-height: 1;
    font-size: $fs-30;

    & .elementor-heading-title {
      color: #ffffff;
    }
  }

  & .heading-description-wrap {
    margin: 25px 0px;

    & .heading-description {
      font-size: $fs-14;
      font-weight: $fw-normal;
      color: #ffffff;
    }
  }

  & .heading-secondary-wrap,
  .heading-primary-wrap,
  .heading-description-wrap {
    text-align: center;
  }
}

.text {
  width: 369px;
}

a{
  &:hover{
    color: black !important;
  }
}

@media only screen and (max-width: 740px) {
  .elementor-section {
    width: 100%;
  }

  #first-section {
    flex-direction: column;
  }

  .footer-container {
    margin: 10px;
    padding: 0;
  }

  .tm-modern-heading {
    width: 95%;
  }
  .contact__container,
  .policy__container,
  .category__container {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
