@use '../../assets/styles/' as *;

.tabPanel {
    height: 600px;
    overflow-y: scroll;
    border-radius: 6px;
}

.tabPanel::-webkit-scrollbar {
    display: none;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: $color-white-0 !important;
    background: #00B074;
    border-radius: 4px;
}

.css-jpln7h-MuiTabs-scroller {
    background: #fff;
    border-radius: 6px;
    padding: 8px 10px;
    border: 0.5px solid #DEDEDE;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 13px !important;
    text-transform: none !important;
    color: $color-black-0 !important;
    font-weight: 600 !important;
    flex-basis: 33.33%;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: unset !important;
}
