@use '../../assets/styles' as *;

.search {
  background-color: $color-white-0;
  padding: 0px 10px 0px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  .search__input {
    font-size: 16px;
    padding: 15px 0px;
    margin-right: 20px;
    border: none !important;
    width: 85%;
    &:focus {
      outline: none;
    }
  }
}
