@use '../../../../assets/styles/' as *;

.reg-partner {
  width: 100%;
  &__form {
    width: 100%;
    &--name {
      width: 100%;
      display: flex;
      gap: 30px;
      margin-bottom: -20px;
    }
    &--label {
      display: block;
      margin: 20px auto 10px;
      font-size: $fs-15;
      font-weight: 700;
      width: 100%;
      text-align: left;
    }
    &--select {
      display: block;
      padding: 15px 12px;
      border: 1.5px solid $primary-color;
      border-radius: 6px;
    }
    .select-form {
      margin: 20px 0;
    }
  }

  &__btns {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-infor {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
  }

}



.row-3-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px;

  .university-register__select-location {
    flex-basis: 32%;
  }

  div.custom-input {
    margin-top: 0;
    flex-basis: 28%;

    input {
      height: 45px !important;
    }
  }

  > .custom-input {
    margin: 0;
  }
}

.section-input__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.gender-container-partner-page {
  margin-top: 5px;
}
