@use '../../assets/styles/' as *;

.data-table {
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;

  .data-table_container {
    background-color: $color-white-0;
    // height: 650px;
    width: 100%;

    .MuiDataGrid-columnHeaders {
      border-radius: 5px;
      // background-color: rgb(244, 246, 248);
      color: $color-white-0;
      // color: rgb(33, 43, 54);
      background-color: $primary-color;
      font-size: 16;
      box-shadow: none;
    }
  }

  h2 {
    padding: 20px 0px;
    font-family: $f-family;
    font-size: $fs-24;
    font-weight: 400;
  }

  &__pagination {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 16px;
    bottom: 10px;
    right: 10px;
    width: auto;
  }

  &__total-item {
    font-weight: 400;
    font-family: $f-family-1;
  }
}
