@use '../../../../assets/styles/' as *;
.demandUniverSity {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 3px;
  .base__information-card {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding-bottom: 1rem;

    .img-logo {
      width: 100px;
      height: 80px;
      border-radius: 4px;
      margin-left: 14px;
      box-sizing: border-box;
      margin-top: 16px;
      opacity: 1;
    }

    &-detail {
      width: fit-content;
      height: fit-content;
      div {
        @include flex(center, null);
        font-family: $f-family;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;

        color: #000000;
      }
      p {
        padding-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $f-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        display: flex;
        align-items: center;
      }
      a {
        padding-left: 5px;
        color: #757575;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $f-family;
        font-style: normal;
        font-weight: 400;
        font-size: 12px !important;
        display: flex;
        align-items: center;
        color: #000000;
      }

      a:hover {
        color: $primary-color;
      }
      h5 {
        display: flex;
        align-items: center;
        font-family: $f-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        display: flex;
        align-items: center;
      }
    }
  }
}
