@import url(../../../../assets/styles/index.scss);

.CandidateManagement_Container {
    max-width: 1150px;
    min-width: 350px;
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: -webkit-center;

    .candidate {
        max-width: 815px;
        max-height: 248px;
        margin-top: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        padding: 8px 0;

        img {
            width: 194px;
            height: 195px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #00B074;
        }

        .candidate_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            align-items: flex-start;


            h3 {
                color: #00B074;
            }

            p {
                color: #000;
                font-weight: 700;

                span {
                    font-weight: 400;
                }
            }
        }

        .candidate_choise {
            margin-top: 4rem;
            gap: 4rem;   
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            height: 100%;
            span {
                color: #ccc;
            }
            .choise {
                margin-top: 2.5rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(1) {
                    margin-left: 2rem;
                    border: 1px solid #ccc;
                }
            }
            .favorite {
                cursor: pointer;
                margin-left: 2rem;
                font-size: 2.5rem;
            }
        }

    }
    @media (max-width: 768px) {

        .candidate {
            margin-top: 24px;
            max-height: 500px;
            max-height: 700px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                // margin-top: 1rem;
                border-radius: 50%;
            }
            .candidate_info {
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
                align-items: center;
            }
            .candidate_choise {
                margin-top: 1px;
                gap : 0rem;
                justify-content: flex-start;
                align-items: flex-start;
                .choise {
                    margin-top: 1rem;
                }
            }
        }
    }
}