@use "../../assets/styles/" as *;

.button-action__wrapper {

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  .button-action__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s;
    }

    .button-action__name {
      margin-left: 10px;
    }
  }
}
