@use '../../assets/styles/' as *;

.button-action__container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .button-action__name {
    margin-left: 10px;
  }

}
