@mixin formContainer($width) {
  width: $width;
  height: max-content;
  padding: 40px 64px;
  background-color: $color-white-0;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
