@use '../../assets/styles/' as *;

.profile-table {
  // padding: 20px 10px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  .profile-table__logo {
    margin-right: 20px;
    // margin-bottom: 20px
    .profile-table__logo-img {
      border: 2px dashed $primary-color;
      background-color: $primary-color-1;
      color: $primary-color;
    }
  }

  .profile-table__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .profile-table__content-title {
      display: flex;
      align-items: center;
      h4 {
        margin-right: 10px;
        line-height: 24.5px;
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
      }

      .profile-table__active {
        color: #00c853;
        font-size: 17px;
      }
    }

    a {
      color: #9e9e9e;
      font-size: 13px;
      line-height: 18.84px;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
