@use '../../assets/styles' as *;

.custom-li {
  padding: 13px 40px;
  margin: 12px 0;
  font-family: $f-family;

  list-style: none;
  border-radius: 10px;
  // background-color: $color-gray;
  .custom-link {
    text-decoration: none;
    font-size: 15.5px;
    font-weight: 400;
    color: rgb(97, 97, 97);
    width: 100%;
    height: 100%;
  }
  &:hover {
    transition: all 0.5s ease;
    background-color: $primary-color-1;
    color: $primary-color-2;
    .custom-link {
      color: $primary-color-2;
      background-color: $primary-color-1;
    }
  }
}

.active {
  // background-color: $primary-color-1;
  .custom-link {
    color: $primary-color-2;
  }
}
