@use "../../assets/styles" as *;


.custom-li {
    padding: 15px 40px;
    margin: 20px 0;
    font-family: $f-family;
    
    list-style: none;
    border-radius: 10px;
    background-color: $color-gray;
    .custom-link {
        // padding: 15px 40px;
        text-decoration: none; 
        font-size: 17px;
        font-weight: 400;  
        color: rgb(97, 97, 97);
        width: 100%;
        height: 100%;
    }
    &:hover {
        transition: all 0.5s ease;
        background-color: $primary-color;
        color: $color-white-0;
        .custom-link{
            color: $color-white-0;
        }
    }
}



.active {
    background-color: $primary-color;
    .custom-link{
        color: $color-white-0 !important;
    }
}