@use '../../../assets/styles/' as *;

.user-edit__button {
  color: $primary-color !important;
}

.user-delete__button {
  color: $color-red !important;
}

.user-verify__button {
  color: $primary-color !important;
}
