@use "../../assets/styles/" as *;

.appreciate__active {
  border: 2px solid $primary-color;
}
.fix_display {
  @include flex(start, flex-end);
}

.line::after {
  background-color: $color-gray-3;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
