@use "../../assets/styles/" as *;

.card-job {
    &__container {
        width: 90%;
        padding: 20px 20px;
        background-color: $color-white-0;
        min-height: 20vh;
        display: flex;
    }

    &__img {
        width: 105px;
        height: 105px;
        border: 1px solid $color-black-0;
    }

    &__info {
        width: 60%;
    }

    &__title {
        width: 100%;
        min-height: 5vh;
    }

    &__content {
        display: grid;
        grid-template-columns: auto auto;
    }

    &__company-work-time,
    &__company-salary,
    &__company-location {
        margin-top: 5px;
        display: grid;
        grid-template-columns: min-content max-content;
    }

    &__detail {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__deadline {
        display: flex;

        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: $mg-1;
        }
    }

    &__send-cv {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-14;
    }
}

path {
    font-size: 12px;
}

.card-job-text {
    display: flex;
    justify-content: center;
    margin-left: $mg-1;
    align-items: flex-end;
    font-size: $fs-14;
}