@use "../../assets/styles/index.scss" as *;

.not-found {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    .img {
      height: 200px;
    }

    .title {
      font-size: 40px;
      color: #000000a6;
      font-family: cursive;
    }

    .description {
        font-size: 16px;
        color: #666;
        font-weight: 500;
        font-family: monospace;
        margin-bottom: 36px;
    }

    .btn-back {
        text-align: center;
    }
  }
}
