@use '../../assets/styles/Helper/variables' as *;

.contact-candidate__container {
  width: 100%;
  background-color: $color-white-0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notice-text {
  font-size: $fs-14;
  color: $color-gray-4;
}

.select-contact {
  display: grid;
  grid-template-columns: auto auto;
}

.notice-mark {
  font-size: $fs-13;
  color: $color-red;
}

.select-contact {
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-contact-candidate {
  margin-right: 5px;
}
